*{
    padding:0;
    margin:0;
}
/* start 头部样式*/
.header-home{
    box-shadow: 0 2px 4px rgba(1,1,1,0.15);
    height: 50px;
    padding-top: 6px;
}
.header-home .header-logo{
    display: inline-block;
}
.header-home .header-nav{
    display: inline-block;
}
.header-nav ul{
 list-style: none;

}
.header-nav ul li{
    background:url(../images/nav-logo.PNG) no-repeat;
    float: left;
    line-height: 30px;
    margin-left: 29px;
    width: 100px;
}

.header-nav li a{
    text-decoration: none;
    color: #fff;
    padding-left: 18px;
    font-size: 14px;

}

.warp .w-p p{
    float: left;
    text-decoration: none;
    font-size: 10px;

}
.warp .w-pone p a{
    float: right;
    text-decoration: none;
    font-size: 10px;

}
.warp .w-warp{
    border:1px solid #979797;
    text-decoration: none;
    margin-top: 30px;
  
}
.bigimg{
   padding-top:55px; 

}
.setTse p{
    padding: 19px 34px;
}

.atimg h3{
    padding: 19px 34px;
    color: #FFFFFF;

}
.atimg{
    background: url(../images/at1.png) no-repeat;
     width: 300px;
    height: 50px;
   
}
.at{
    width: 300px;
    height: 200px;
    float: left;
    margin: 20px 138px;

}

.sideBar{

    background: url(../images/at2.png) no-repeat;
     width: 300px;
    height: 400px;
    display: inline-block;
    float: left;
}
.sideimg{


}
.sideimg img{

}

.sideBar ul{
    list-style: none;

}

.sideBar ul li{
    margin: 24px 80px;
    color: #FFFFFF;
}
.sideBar li a{
    text-decoration: none;
    color: #FFFFFF;

}
.text{
    width: 1200px;
    height: 520px;
    margin: 0 auto;


}
.text h1{
     font-weight: bold;
}
.text p{
    font-size: 24px;
    font-weight: bold;
}

.setTse p{
    font-weight: bold;

}
.setTse .s-settse{
    border: 1px solid #0F0E0E;
}

/*公共首页横线样式*/
.line .line-text {
    border-bottom: 1px solid #E0DEDE;
    margin-top: 15px;
}
.line .line-text span {
    font-weight: bold;
}
.line .line-text a {
    float: right;
    color:#8C8989;
 }
 .content-line .content-line-text {
    border-bottom: 1px solid #000;
    margin-top: 40px;
 }
.content-line .content-line-text span {
    font-size:20px;
    font-weight: bold;
}

.aorise-title {
    padding-top: 40px;
    text-align: center;

}
.aorise-title a {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}


.aorise-img{
    padding-top: 40px;
}

/*公共首页横线样式*/

/*footer 尾部*/
.footer {
    height: 223px;
    width: 1770px;
    margin: 600px 0px;
    background-color: #999595;
    position: relative;
}
.footer .f-endLoge {
    position: relative;
    left: 55px;
}
.footer .f-text3 {
    position: absolute;
    padding-top: 15px;
    width: 700px;
}

.footer .f-endImg {
    position: absolute;
    padding: 20px 0 0 430px;




/*end*/